@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

html {
  height: 100%;
  background: #F2F2F2;
  margin: 0 auto;
  width: 1280px;


}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  width: 1280px;






}



.page-header {
  margin: 0 auto;
  width: 1200px;
  height: 64px;
  background: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 64px;

}

.logo-link {
  width: 140px;
  margin-left: 70px;
  position: relative;
}

.navigation-list {
  width: 339px;
  display: flex;
  margin: 0 0 0 28px;
  padding: 0;


}

.navigation-item



.navigation-link {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  padding: 20px 0 17px;
  margin: 0 16px;

}

.you-here {
  position: absolute;
  width: 68px;
  margin: 2px 16px;
  border: none;
  background-color:  #756257;


}



.navigation-user {
  margin: 0;
  width: 88px;
height: 64px;

  display: flex;
  margin-left: 285px;
  padding: 0;
}








.user-item {
  display: flex;
  width: 44px;
height: 64px;
}






.search {

  margin: 24px 13px 23px;
  width: 20px;
  height: 20px;

}

.favorites {

  margin: 22px 13px 23px;
  width: 20px;
  height: 20px;


}

.item-12 {
  margin-left: 64px;
  margin-top: 11px;
  position: absolute;
}


.link-12 {
  text-decoration: none;
}

.icon-12 {
  color: white;
  border-radius: 10px;
  background-color: #7DB54F;
  padding: 5px;
  width: 11px;
height: 10px;
font-weight: 400;
font-size: 10px;
line-height: 10px;
}





.here-container {
  display: flex;
  width: 160px;
  height: 36px;
  margin-top: 14px;
  margin-right: 70px;
  margin-left: 20px;
  border-radius: 4px;



}



.here-text {
  padding: 8px 0;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;


}

.here-text:hover {
  background: #615048;
}

.here-text:active {
  color: rgba(255, 255, 255, 0.3);

}








.main-container {
  flex-grow: 1;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
}

.inner-header {
  margin: 0 0 0;
}


.promo {
  display: block;
}



.promo-logo {
  background: url(../images/index-background.jpg) no-repeat, center;
  width: 1200px;
  height: 483px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;


}

.img-welcome {
  display: block;
  margin: 50px auto 25px;
}

.vector {


  margin: 0;



}


.sedona-container {
  height: 214px;
  margin: 0;
  padding-top: 69px;
  background-color: white;

}

.advantages-sedona {

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  width: 620px;
}



.advantages-more {
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-direction: column;

  font-family: "PT Sans", sans-serif;
  justify-content: space-between;

  margin: 0;
  padding: 0;


}

.advantages-item {
  display: flex;
  width: 1200px;
height: 384px;
  text-align: center;

}

.description-block {
  width: 100%;
  height: 100%;

}





.vector-icon {
  padding-top: 81px;


}


.blue-background {
  background: #82B3D3;
  color: #ffffff;

}

.white-color {
  background: rgba(131, 179, 211, 0.12);
}

.blue-color {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 92px;
  width: 175px;
  height: 56px;
  margin: 0 auto;
  padding-bottom: 30px;

}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  margin: 0 auto;
  padding-top: 30px;

}

.description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 28px;
  margin: 0;
}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  margin: 0 auto;
  padding-top: 30px;
}

.total-container {
  background-color: white;
  width: 1200px;
  height: 406px;

}



.total-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-top: 96px;
}

.total-text {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 20px;

  width: 592px;
  margin: 0 auto;

}

.border {
  display: flex;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  margin: 54px auto;



}

.total-button {
  width: 376px;
  border-radius: 4px;
  background: #756157;
  margin: 0 auto;
  padding-top: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.total-button:hover {
  background: #615048;
}

.total-button:active {
  color: rgba(255, 255, 255, 0.3);

}





.mailing-container {
  background: url(../images/subscribe-bg.jpg) center no-repeat;
  width: 1200px;
  height: 414px;
  background-color: #ffffff;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;


}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.mailing-text {

  width: 475px;
  height: 52.51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding-top: 20px;
}

.form {
  padding-top: 54px;
  width: 684px;
  height: 52px;
  display: flex;
  margin: 0 auto;
}

.e-mail {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;

}

.mailing-button {
  background: #82B3D3;
  border: none;
  color: white;
  width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;
}


.mailing-button:hover {
  background: #68A2CA;
}

.mailing-button:active {
  color: rgba(255, 255, 255, 0.3);

}


.footer-container {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  background-color: white;
  width: 1200px;
  height: 120px;
}

.footer-social-list {
  padding: 0;
  margin: 0;
}

.social {
  position: absolute;
  display: flex;
  margin-left: 70px;
  margin-top: 58px;
  width: 142px;
  height: 40px;
}

.vk {
  fill:#83B3D3;
}

.vk:hover {
  fill: #68A2CA;
}

.vk:active {
  fill: rgba(104, 162, 202, 0.3);
}


.telegram {
  fill:#83B3D3;
}

.telegram:hover {
  fill: #68A2CA;
}

.telegram:active {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube {
  fill:#83B3D3;
}

.youtube:hover {
  fill: #68A2CA;
}

.youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}









.footer-contacts-address-phone {
  height: 40px;
  width: 331px;


  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-top: 45px;
  margin-left: 448px;
}


.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  height: 32.9px;
width: 114.9px;

border-radius: 0;

  margin-left: 235px;
  margin-top: 48px;
}

.htmlacademy-link-svg {
  fill: black;
}

.htmlacademy-link-svg:hover {
  fill:  #756157;
}
.htmlacademy-link-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

hr {
  width: 60px;
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.black {
  background: rgba(0, 0, 0, 0.3);
}

.bg-white {
  background-color: white;
}


.footer-butoon {
  margin-left: 11px;
  margin-right: 11px;
  display: block;
  text-decoration: none;
  width: 22px;
  height: 17px;
}

.visually-hidden {
  display: none;
}
