@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

html {
  height: 100%;
  background: #F2F2F2;
  margin: 0 auto;
  width: 1200px;




}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100%;






}



.page-header {
  margin: 0 auto;
  width: 1200px;
  height: 64px;
  background: #ffffff;
  color: black;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 64px;

}

.logo-link {
  width: 140px;
  margin: 0 28px 0 70px;
  position: relative;
}

.logo-link:focus {
  opacity: 0.8;
  outline: none;
}

.navigation-list {
  min-width: 339px;
  max-width: 582px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;


}

.navigation-link {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  background: #ffffff;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  padding: 20px 0 17px;
  margin: 0 16px;

}

.navigation-link:hover {
  transition: 0.2s;
  opacity: 0.5;


}

.navigation-link:focus {
  outline: none;
  opacity: 0.5;


}

.you-here {
  height: 2px;
  position: absolute;
  width: 68px;
  margin: 2px 16px;
  border: none;
  background: #756257;
}


.catalog-you-here {
  height: 2px;
  position: absolute;
  width: 92px;
  margin: 2px 16px;
  border: none;
  background: #756257;
}



.navigation-user {
  margin: 0 0 0 auto;
  width: 88px;
  height: 64px;
  display: flex;
  padding: 0;
  list-style-type: none;
}








.user-item {
  display: flex;
  width: 44px;
  height: 64px;
}

.user-item:hover {
  transition: 0.2s;
  opacity: 0.5;

}


.focus:focus {
  opacity: 0.5;
  outline: none;
}




.search {

  padding: 22px 13px 23px;
  width: 20px;
  height: 20px;

}

.favorites {

  padding: 22px 13px 23px;
  width: 20px;
  height: 20px;


}

.item-12 {
  margin: 11px 0 0 64px;
  position: absolute;
}


.link-12 {
  text-decoration: none;
}

.link-12:focus {
  opacity: 0.5;
  outline: none;

}

.icon-12 {
  color: white;
  border-radius: 10px;
  background: #7DB54F;
  padding: 5px;
  width: 11px;
  height: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}





.here-container {
  display: flex;
  width: 160px;
  height: 36px;
  margin: 14px 70px 0 20px;
  border-radius: 4px;



}



.here-text {
  padding: 8px 0;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;


}

.here-text:hover {
  background: #615048;
  transition: 0.2s;
}

.here-text:active {
  color: rgba(255, 255, 255, 0.3);

}


.here-text:focus {
  background: #615048;
  outline: none;

}








.main-container {
  flex-grow: 1;
  background: white;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
}




.promo {
  background: url(../images/index-background.jpg) no-repeat, center #CDC7C4;
  width: 1200px;
  min-height: 432px;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 51px;

}



.promo-logo {
  width: 458px;
  margin: 0 auto;
}

.promo::after {
  content: url(../images/vector.svg);
  height: 57px;
  margin: auto 0 0 0
}




.sedona-container {
  padding: 69px 0 90px;
  min-height: 55px;
  margin: 0;
  background: white;

}

.advantages-sedona {

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-transform: uppercase;
  margin: 0 auto;
  width: 620px;
}



.advantages-more {
  margin: 25px 0 0 0;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;


}

.advantages-item {
  display: flex;
  width: 1200px;
  min-height: 384px;
  text-align: center;

}

.description-block {
  width: 400px;
  min-height: 334px;
  padding-bottom: 50px;

}



.blue-background {
  background: #82B3D3;
  color: #ffffff;

}

.white-color {
  background: rgba(131, 179, 211, 0.12);
}

.blue-color {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  min-height: 56px;
  margin: 92px auto 0;

}

.dop-title {
  margin: 103px auto 0;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  min-height: 63px;
  margin: 30px auto 0;



}

.description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}



.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  margin: 30px auto 0;

}

.total-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 1200px;
  min-height: 406px;

}



.total-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-align: center;
  margin: 96px 0 0 0;

}

.total-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 20px auto 0;

}

.total-button-container {
  display: flex;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  margin: 54px auto;



}

.total-button {
  width: 376px;
  border-radius: 4px;
  background: #756157;
  margin: 0 auto;
  padding: 8px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.total-button:hover {
  background: #615048;
  transition: 0.2s;
}

.total-button:active {
  color: rgba(255, 255, 255, 0.3);

}

.total-button:focus {
  background: #615048;
  outline: none;
}





.mailing-container {
  background: url(../images/subscribe-bg.jpg) center no-repeat white;
  background-size: cover;
  width: 1200px;
  min-height: 310px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 104px;


}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 96px auto 0;

}

.mailing-text {

  width: 475px;
  min-height: 52.51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 20px auto 0;
}

.form {
  width: 684px;
  height: 52px;
  display: flex;
  margin: 54px auto 0;
}






.mailing-button:hover {
  background: #68A2CA;
  transition: 0.2s;
}

.mailing-button:active {
  color: rgba(255, 255, 255, 0.3);

}

.mailing-button:focus {
  background: #68A2CA;
  outline: none;
}


.footer-container {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  background: white;
  width: 1200px;
  min-height: 120px;
}

.footer-social-list {
  display: flex;
  position: absolute;
  margin: 47px 0 0 70px;
  min-width: 142px;
  height: 40px;
  padding: 0;
}

.footer-social-item {

  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;

}

.vk {
  fill: #83B3D3;
}

.vk:hover {
  fill: #68A2CA;
  transition: 0.2s;

}

.vk:active {
  fill: rgba(104, 162, 202, 0.3);
}




.telegram {
  fill: #83B3D3;
}

.telegram:hover {
  fill: #68A2CA;
  transition: 0.2s;
}

.telegram:active {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube {
  fill: #83B3D3;
}

.youtube:hover {
  fill: #68A2CA;
  transition: 0.2s;
}

.youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}









.footer-contacts-address-phone {
  height: 40px;
  width: 331px;


  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin: 45px 0 0 448px;

}


.footer-contacts-address-phone:hover {
  color: #756157;

}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-address-phone:focus {
  color: #756157;
  transition: 0.2s;
  outline: none;
}

.htmlacademy-link {
  height: 32.9px;
  width: 114.9px;

  border-radius: 0;
  margin: 48px 0 0 235px;
}

.htmlacademy-link-svg {
  fill: black;
}

.htmlacademy-link-svg:hover {
  fill: #756157;
  transition: 0.2s;
}

.htmlacademy-link-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:focus {
  outline: none;
}


.htmlacademy-link:focus > svg {
  fill: #756157;

}



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background: white;
}

.modal-search {
  border-radius: 30px;
  padding: 0;
  width: 717px;
}

.modal-close-button {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 64px 0 0 613px;
  padding: 26px;
  border-radius: 50%;
  border: none;
  background: url("../images/vector-icon/modal-close1.svg") no-repeat center #F2F2F2;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;

}

.modal-close-button:hover {
  background: #E6E6E6;
  transition: 0.2s;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;

}





.modal-title {
  width: 413px;
  height: 36px;
  margin: 64px 0 0 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-transform: uppercase;
}


.modal-input-container {
  margin: 64px 0 0 70px;

  display: flex;
  width: 577px;
  height: 48px;
}

.modal-text {
  margin: auto 0;
  width: 113px;
  height: 24px;

  font-size: 20px;
  white-space: nowrap;
}

.search-form-field {
  margin: 0 0 0 18px;
  border: none;
  border-radius: 4px;
  width: 440px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background: url(../images/vector-icon/calendars.svg) no-repeat #F2F2F2;
  background-position: top 16px left 402px;
}



.modal-subtext {
  margin: 4px 0 0 227px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;


}

.modal-error {
  color: #FF5757;

}

.modal-container2 {
  margin: 23px 0 0 70px;
  display: flex;
  width: 577px;
  height: 48px;
}

.modal-text2 {
  margin: auto 0;
  width: 119px;
  height: 24px;

  font-size: 20px;
  white-space: nowrap;

}

.modal-container3 {
  margin: 23px 0 0 70px;
  width: 577px;
  height: 48px;
  display: flex;
}

.modal-text3 {
  margin: auto 46px auto 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 91px;
  height: 24px;
}

.minus {
  position: relative;
  display: flex;
  background:url(../images/vector-icon/minus.svg) no-repeat center #F2F2F2;
  padding:0;
  border: none;
  width: 40px;
  height: 48px;
  outline: none;
}



.minus:hover {
  background:url(../images/vector-icon/minus-hover.svg) no-repeat center #F2F2F2;

}

.minus:focus {
  background:url(../images/vector-icon/minus-focus.svg) no-repeat center #F2F2F2;

}

.minus:active {
  background:url(../images/vector-icon/minus.svg) no-repeat center #F2F2F2;

}



.field-number {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  width: 31px;
  height: 48px;
  border: none;
  background: #F2F2F2;
  text-align: center;
}

.plus {
  position: relative;
  display: flex;
  background:url(../images/vector-icon/plus.svg) no-repeat center #F2F2F2;
  padding:0;
  border: none;
  width: 40px;
  height: 48px;
  outline: none;
}



.plus:hover {
  background:url(../images/vector-icon/plus-hover.svg) no-repeat center #F2F2F2;


}

.plus:focus {
  background:url(../images/vector-icon/plus-focus.svg) no-repeat center #F2F2F2;

}

.plus:active {
  background:url(../images/vector-icon/plus.svg) no-repeat center #F2F2F2;

}

.modal-text4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 49px;
  height: 24px;
  margin: auto 0 auto 88px;
}

.tooltip {
  position: relative;
  background: url(../images/vector-icon/tooltip.svg);
  width: 26px;
  height: 26px;
  margin: auto 46px auto 10px;
  cursor: pointer;
}

.tooltip::after {
  content: "Укажите количество детей,\0a которые будут с вами, возраст\0a которых от 6 до 18 лет. Дети\0a до 6 лет размещаются\0a бесплатно.\0a";
  position: absolute;
  white-space: pre;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 216px;
  min-height: 110px;
  padding: 22px 18px 13px 22px;
  color: white;
  left: -115px;
  top: 41px;
  opacity: 0;
  visibility: hidden;
}

.tooltip::before {
  content: url(../images/vector-icon/tooltip-vector.svg);
  position: absolute;
  left: 3px;
  top: 21px;
  opacity: 0;
  visibility: hidden;

}

.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.search-button {
  display: flex;
  border: none;
  margin: 48px auto 64px auto;
  padding: 18px 256px;
  background: #83B3D3;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 10px;


}

.search-button:hover {
  background: #68A2CA;
  transition: 0.2s;

}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

}


.search-button:focus {
  background: #68A2CA;
  outline: none;

}

.modal-container-close {
  display: none;
}



.hr-white {
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.hr-black {
  margin: 30px auto 0;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  width: 60px;
  height: 2px;
}

.bg-white {
  background: white;
}




.footer-butoon:focus {
  outline: none;
}

.footer-butoon:focus > svg {
  fill: #68A2CA;


}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}






.inner-header {
  background: url(../images/catalog-bg.jpg) no-repeat #CDC7C4;
  background-size: cover;
  color: black;
  width: 1200px;
  min-height: 412px;
  display: flex;
  flex-direction: column;
}


.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  margin: 35px 0 0 70px;
}

.breadcrumbs {
  color: white;
  display: flex;
  padding: 0;
  margin: 5px 0 0 70px;
  height: 21px;
  list-style-type: none;

}

.house {
  margin: 0 11px 0 0;
  padding: 0;

}

.pointer {
  margin: 0 11px 0 0;
  padding: 0;

}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

}

.breadcrumbs-link:focus {
  outline: none
}

.breadcrumbs-link:focus > svg {
  fill: rgba(255, 255, 255, 0.6);

}

.breadcrumbs-house {
  fill: white;
}

.breadcrumbs-house:hover {
  fill: rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}

.breadcrumbs-house:active {
  fill: rgba(255, 255, 255, 0.3);
}



.catalog-filter {
  padding: 0 0 20px 0;
  margin: 44px 0 0 70px;
  display: flex;
  border: none;
  width: 1040px;
  min-height: 160px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  width: 150.43px;
  min-height: 157px;
}


.price {
  display: flex;
  width: 288px;
  height: 160px;
  border: none;
  margin: 0 0 0 140px;
  padding: 0;

}

.range-wrapper-inputs {
  margin: 32px 0 0 0;
  display: flex;
  width: 288px;
  height: 48px;
  justify-content: space-between;


}



.range-input {
  border: none;
  padding: 12px 62px 12px 20px;
  width: 61px;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-weight: 700;
  font-size: 18px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.range-input:focus {
  outline: 3px solid #83B3D3;
}







.range-wrapper-inputs::before {
  position: absolute;
  content: "от";
  margin: 12px 0 0 106px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;

}

.range-wrapper-inputs::after {
  position: absolute;
  content: "до";
  margin: 12px 0 0 248px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;

}

.range-input-right {
  border-radius: 0 4px 4px 0;
}





.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  margin: 45px 0 0 0;
  background: white;
  border-radius: 2px;
}


.range-bar {
  position: absolute;
  height: 4px;
  background: #6F7577;
  width: 61px;
  left: 227px;
  border-radius: 2px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}




.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: -227px;
}

.toggle-max {
  top: -8px;
  left: -19px;
}



.catalog-filter-list {
  margin: 32px 0 0 0;
  padding: 0;
}

.catalog-filter-item {
  margin: 16px 0 0 0;
  display: flex;
  align-items: center;
}

.infrastructure {
  margin: 0 70px 0 0;
  width: 150px;
  height: 157px;

}

.button-container {
  width: 191px;
  height: 104px;
  display: flex;
  flex-direction: column;
  margin: 56px 0 0 auto;
}

.catalog-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  background: #82B3D3;
  color: white;
  border: none;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.catalog-button:hover {
  background: #68A2CA;
  transition: 0.2s;

}

.catalog-button:active {
  color: rgba(255, 255, 255, 0.3);

}


.catalog-button:focus {
  background: #68A2CA;
  outline: none;

}



.drop-button {
  width: 191px;
  height: 36px;
  margin: auto 0 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.drop-button:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}

.drop-button:active {
  color: rgba(255, 255, 255, 0.3);

}

.drop-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}


.catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 1235px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.catalog-search-container {
  width: 1060px;
  height: 49px;

  display: flex;
  margin: 50px 0 0 70px;
  padding: 0;
}


.found {
  margin: auto 0;
  white-space: nowrap;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

}

.select-control {
  -webkit-appearance: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0 70px 0 200px;
  padding: 0 0 0 20px;
  width: 292px;
  max-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;

}

.select-control:not([multiple]) {
  background: url(../images/vector-icon/select.svg) no-repeat;
  background-position: 250px;

}


.select-control:hover {
  border-color: #68A2CA;
  transition: 0.2s;
}

.select-control:active {
  border-color: #3F5E72;
}

.catalog-group {
  margin: 0 8px 0 0;
}

.catalog-group:hover > img {
  border: 2px solid black;
  transition: 0.2s;
}

.catalog-group:focus > img {
  border: #68A2CA 2px solid;
}

.catalog-group:active > img {
  border: 2px solid black;

}



.img-button {
  border: 2px solid #E5E5E5;
  padding: 15px 14px;
  border-radius: 4px;
}

.button-active {
  border: 2px solid black;
  border-radius: 4px;
}


.product-list-container {
  padding: 0;
  margin: 40.5px auto 0;
  width: 1060px;
  min-height: 896px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
}

.product-list {
  padding-bottom: 20px;
  width: 340px;
  min-height: 418px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

}

.product-list-image {
  margin: 20px 20px 0 20px;
}

.product-list-title {
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0 0 21px;
  min-height: 20px;

}

.name-and-price {
  margin: 16px 0 0 20px;
  justify-content: space-between;

  display: flex;
  width: 300px;
}

.product-list-name {
  margin: 0;
  width: 140px;
}

.container-buttons {
  margin: 16px 0 0 20px;
  display: flex;
  width: 300px;
  min-height: 36px;
  justify-content: space-between;
}

.product-list-more-info {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  text-align: center;
  width: 140px;
  height: 20px;
  background: #756157;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-list-more-info:hover {
  background: #615048;
  transition: 0.2s;

}

.product-list-more-info:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-list-more-info:focus {
  background: #615048;
  outline: none;
}

.product-list-top {
  background: #82B3D3;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  text-align: center;
  width: 140px;
  height: 20px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}


.product-list-top:hover {
  background: #68A2CA;
  transition: 0.2s;

}

.product-list-top:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-list-top:focus {
  background: #68A2CA;
  outline: none;

}

.star-and-top {
  margin: 16px 0 0 20px;
  display: flex;
  width: 300px;
  height: 37px;
  justify-content: space-between;
}

.top {
  width: 140px;
  background: #F2F2F2;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 8px;
}


.trait {
  margin: 40px 0 0 70px;
  height: 1px;
  width: 1060px;
  background: #E6E6E6;
  border: none;

}

.paginator-container {
  margin: 40px 0 0 70px;
  display: flex;
  width: 400px;
  height: 60px;
  justify-content: space-between;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;

}




.pagination-current {
  background: #F2F2F2;
  color: black;
}



.pagination-link:hover {
  background: #68A2CA;
  transition: 0.2s;
}

.pagination-link:focus {
  background: #68A2CA;
  outline: none;
}

.pagination-current:hover {
  background: #F2F2F2;
  color: black;
}




.ellipsis {
  background: white;
  color: black;
}

.ellipsis:hover {
  background: white;
  color: black;
}





.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}




.control {
  color: white;
  padding-left: 37px;
  font-weight: 400;
  font-size: 18px;
  height: 23px;

}

.control-input {
  appearance: none;
  position: absolute;

}

.control-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/vector-icon/checkbox-off.svg) center;
  border-radius: 4px;
  margin: 2px 0 0 -37px;
}

.control-input:checked + .control-box {
  background: url(../images/vector-icon/checkbox-on.svg) center;
}

.control-input:focus + .control-box {
  outline: 3px solid #83B3D3;
}

.control-input:hover + .control-box {
  background: url(../images/vector-icon/checkbox-on.svg);
  opacity: 0.6;
}

.control-input:active + .control-box {
  opacity: 0.3;
}


.radio-control {
  color: white;
  padding-left: 37px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 23px;

}

.radio-control-input {
  appearance: none;
  position: absolute;

}

.radio-control-box {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url(../images/vector-icon/radio-off.svg) center;
  margin: 2px 0 0 -37px;

}

.radio-control-input:checked + .radio-control-box {
  background: url(../images/vector-icon/radio-on.svg) center;
}


.radio-control-input:focus + .radio-control-box {
  outline: 3px solid #83B3D3;
}

.radio-control-input:hover + .radio-control-box {
  opacity: 0.6;
  background: url(../images/vector-icon/radio-on.svg) center;
}

.radio-control-input:active + .radio-control-box {
  opacity: 0.3;
}



.product-list-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-decoration: none;
}

.product-list-link:focus {
  outline: none;
  opacity: 0.8;

}

.product-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}






.true {
  background: #7DB54F
}

.true:hover {
  background: #6C9E42;
  transition: 0.2s;


}

.true:active {
  color: rgba(255, 255, 255, 0.3);

}

.true:focus {
  background: #6C9E42;



}

.catalog-mailing-container {
  width: 1200px;
  min-height: 310px;
  background-color: white;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 104px;


}

.catalog-mailing-title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 96px 0 0 0;
}

.catalog-mailing-text {
  color: #333333;
  width: 475px;
  min-height: 52.51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 20px auto 0;
}



.e-mail {
  padding: 0 0 0 20px;
  width: 432px;
  border: none;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

}

.mailing-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  background: #82B3D3;
  border: none;
  color: white;
  width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
