.promo-logo {
  background: url(./images/index-background.jpg) center
  no-repeat;
  width: 1200px;
  height: 485px;

}

.mailing {
  background: url(./images/Subscribe-bg.jpg) center
  no-repeat;
  width: 1200px;
  height: 414px;
}

.inner-header {
  background: url(./images/catalog-bg.jpg) center
  no-repeat;
  width: 1200px;
  height: 414px;
}
